use master;
go
drop database IF EXISTS Coffee_62134455;
go
CREATE DATABASE Coffee_62134455;
go
use Coffee_62134455;
GO
CREATE TABLE [dbo].[ChiTietDonHangs_62134455](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [decimal](10, 2) NULL,
	[Size] [varchar](10) NULL,
	[GhiChu] [nvarchar](1000) NULL,
	[id_sanpham] [int] NULL,
	[id_donhang] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucs_62134455]    Script Date: 12/20/2023 11:21:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucs_62134455](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[TenDanhMuc] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHangs_62134455]    Script Date: 12/20/2023 11:21:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHangs_62134455](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[NgayDatHang] [datetime] NOT NULL,
	[TenKhachHang] [nvarchar](1000) NULL,
	[DiaChiNhanHang] [nvarchar](1000) NOT NULL,
	[SDT] [nvarchar](20) NOT NULL,
	[TrangThai] [int] NULL,
	[GhiChu] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhams_62134455]    Script Date: 12/20/2023 11:21:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhams_62134455](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[TenSanPham] [nvarchar](255) NOT NULL,
	[Gia] [decimal](10, 2) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[HinhAnh] [nvarchar](100) NULL,
	[Size] [nvarchar](255) NULL,
	[GhiChu] [nvarchar](1000) NULL,
	[id_danhmuc] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoans_62134455]    Script Date: 12/20/2023 11:21:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoans_62134455](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[TenNguoiDung] [nvarchar](50) NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](100) NULL,
	[VaiTro] [int] NULL,
	[NgayTao] [datetime] NULL,
	[GioiTinh] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChiTietDonHangs_62134455] ON 

INSERT [dbo].[ChiTietDonHangs_62134455] ([id], [SoLuong], [DonGia], [Size], [GhiChu], [id_sanpham], [id_donhang]) VALUES (1, 1, CAST(35000.00 AS Decimal(10, 2)), N'S', N'Ít đường', 1, 1)
INSERT [dbo].[ChiTietDonHangs_62134455] ([id], [SoLuong], [DonGia], [Size], [GhiChu], [id_sanpham], [id_donhang]) VALUES (2, 4, CAST(30000.00 AS Decimal(10, 2)), N'S', NULL, 2, 2)
INSERT [dbo].[ChiTietDonHangs_62134455] ([id], [SoLuong], [DonGia], [Size], [GhiChu], [id_sanpham], [id_donhang]) VALUES (3, 3, CAST(35000.00 AS Decimal(10, 2)), N'M', N'nhiều đá', 1, 3)
SET IDENTITY_INSERT [dbo].[ChiTietDonHangs_62134455] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhMucs_62134455] ON 

INSERT [dbo].[DanhMucs_62134455] ([id], [TenDanhMuc]) VALUES (1, N'Refresher')
INSERT [dbo].[DanhMucs_62134455] ([id], [TenDanhMuc]) VALUES (2, N'Nước Ép')
INSERT [dbo].[DanhMucs_62134455] ([id], [TenDanhMuc]) VALUES (3, N'Trà Sữa')
SET IDENTITY_INSERT [dbo].[DanhMucs_62134455] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHangs_62134455] ON 

INSERT [dbo].[DonHangs_62134455] ([id], [NgayDatHang], [TenKhachHang], [DiaChiNhanHang], [SDT], [TrangThai], [GhiChu]) VALUES (1, CAST(N'2023-12-20T22:45:10.173' AS DateTime), N'Trần Thị Lan Anh', N'Hà Nội', N'0165898911', 0, NULL)
INSERT [dbo].[DonHangs_62134455] ([id], [NgayDatHang], [TenKhachHang], [DiaChiNhanHang], [SDT], [TrangThai], [GhiChu]) VALUES (2, CAST(N'2023-12-20T22:49:57.647' AS DateTime), N'Quang Vinh', N'Hà Nội', N'0348840032', 0, NULL)
INSERT [dbo].[DonHangs_62134455] ([id], [NgayDatHang], [TenKhachHang], [DiaChiNhanHang], [SDT], [TrangThai], [GhiChu]) VALUES (3, CAST(N'2023-12-20T22:58:33.103' AS DateTime), N'Vinh', N'HN', N'0123456789', 0, NULL)
SET IDENTITY_INSERT [dbo].[DonHangs_62134455] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPhams_62134455] ON 

INSERT [dbo].[SanPhams_62134455] ([id], [TenSanPham], [Gia], [MoTa], [HinhAnh], [Size], [GhiChu], [id_danhmuc]) VALUES (1, N'Dâu Quế Tây', CAST(35000.00 AS Decimal(10, 2)), N'Strawberry Basil Lemonade
 
Thành Phần: Dâu Tây, Lá Quế
 
(Hình ảnh sản phẩm mang tính chất minh họa với mong muốn giúp khách hàng cảm nhận rõ hơn về món)', N'pexels-photo-2424832232707405.jpeg', N'S;M;L;', NULL, 1)
INSERT [dbo].[SanPhams_62134455] ([id], [TenSanPham], [Gia], [MoTa], [HinhAnh], [Size], [GhiChu], [id_danhmuc]) VALUES (2, N'Lá Dứa Than Tre', CAST(30000.00 AS Decimal(10, 2)), N'Pandan Charcoal
 
Thành Phần: Lá Dứa, Than Tre
 
(Hình ảnh sản phẩm mang tính chất minh họa với mong muốn giúp khách hàng cảm nhận rõ hơn về món)', N'sp-tra-sua-matcha232745126.jpg', N'S;M;L;Khổng lồ;', NULL, 1)
INSERT [dbo].[SanPhams_62134455] ([id], [TenSanPham], [Gia], [MoTa], [HinhAnh], [Size], [GhiChu], [id_danhmuc]) VALUES (3, N'Trà Bưởi Yuzu', CAST(40000.00 AS Decimal(10, 2)), N'Trà Bưởi Yuzu
 
Thành Phần: Trà Lài, Bưởi Hồng, Yuzu
 
(Hình ảnh sản phẩm mang tính chất minh họa với mong muốn giúp khách hàng cảm nhận rõ hơn về món)', N'cach-lam-nuoc-ep-oi-thom-ngon-de-uong-201910300940367150233132142.jpg', N'S;M;L;', NULL, 2)
SET IDENTITY_INSERT [dbo].[SanPhams_62134455] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoans_62134455] ON 

INSERT [dbo].[TaiKhoans_62134455] ([id], [TenNguoiDung], [Username], [Password], [VaiTro], [NgayTao], [GioiTinh]) VALUES (1, N'Quản Lý 1', N'admin', N'202cb962ac59075b964b07152d234b70', 0, CAST(N'2023-12-20T21:17:00.830' AS DateTime), NULL)
INSERT [dbo].[TaiKhoans_62134455] ([id], [TenNguoiDung], [Username], [Password], [VaiTro], [NgayTao], [GioiTinh]) VALUES (2, N'User Name 1', N'username1', N'202cb962ac59075b964b07152d234b70', 1, CAST(N'2023-12-20T21:17:00.830' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[TaiKhoans_62134455] OFF
GO
ALTER TABLE [dbo].[ChiTietDonHangs_62134455] ADD  DEFAULT ('') FOR [Size]
GO
ALTER TABLE [dbo].[SanPhams_62134455] ADD  DEFAULT ('') FOR [Size]
GO
ALTER TABLE [dbo].[TaiKhoans_62134455] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[ChiTietDonHangs_62134455]  WITH CHECK ADD FOREIGN KEY([id_donhang])
REFERENCES [dbo].[DonHangs_62134455] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDonHangs_62134455]  WITH CHECK ADD FOREIGN KEY([id_sanpham])
REFERENCES [dbo].[SanPhams_62134455] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPhams_62134455]  WITH CHECK ADD FOREIGN KEY([id_danhmuc])
REFERENCES [dbo].[DanhMucs_62134455] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
USE [master]
GO
