
@{
    Layout = null;
}

@model List<Coffee_62134455.Models.SanPhams_62134455>
<div class="tab-content" style="width:100%;">

    <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-1-tab">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 text-center">
                    <div class="menu-wrap">
                        <a href="/thong-tin-san-pham?id=@item.id" class="menu-img img mb-4" style="background-image: url(/Assets/images/@item.HinhAnh);"></a>
                        <div class="text">
                            <h3><a href="/thong-tin-san-pham?id=@item.id">@item.TenSanPham</a></h3>
                            <p>@item.MoTa</p>
                            <p class="price"><span>@string.Format("{0:#,###}", item.Gia) ₫</span></p>
                            <p><a href="#" data-id="@item.id" class="btn btn-primary btn-outline-primary btn-try-now">Đặt ngay</a></p>
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>


</div>
