
@{
    Layout = null;
}

<form id="frm-add-danh-muc" class="frm-add-danh-muc hidden">
    <div class="form-group row">
        <label for="inputPassword3" class="col-4 col-form-label">Danh mục (<span class="red">*</span>)</label>
        <div class="col-8">
            <input type="text" maxlength="255" name="TenDanhMuc" class="form-control required">
            <label class="message"></label>
        </div>
    </div>
</form>